<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let conductor of conductores">
        <ion-label>
          <h2>{{ conductor.nombreConductor }}</h2>

        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
<br>
<br>
<br>
<br>
<br>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let conductor of conductores">
          <ion-label>
            <h2>{{ conductor.user }} </h2>
            <p>{{ conductor.Gmail}}</p>
            <p>{{ conductor.autoMarca }} - {{ conductor.autoPatente }}</p>
            <p> {{ conductor.HoraSalida}}</p>
            <p>{{ conductor.valorViaje }}</p>
            <ion-button type="button" shape="round" ></ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-content>
<!--(click)="login()"-->