ion-content {
    --background: #fffb00ce;
    /*Fondo de la pagina*/
    --color: #000000;
    /*Color de la letra*/
}

.texto-grande {
    font-size: 25px;
    /* Tamaño de fuente en píxeles */
}

.centered-content {
    text-align: center;
    /* Centra el contenido horizontalmente */
}
  