<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" [routerLink]="['/home']">Volver atras</ion-button>
    </ion-buttons>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers">
          <br><br>
          <img src="assets/User.png" width="150px" alt="Automóvil" style="margin-left: 70px;">
        </div>
        <br>
        <form [formGroup]="formularioContrasena">
          <ion-item>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input formControlName="nuevaContrasena" type="password"></ion-input>
          </ion-item>
        </form>
        <br><br>
        <div style="text-align: center;">
          <ion-button shape="round" (click)="cambiarContrasena()">
            Cambiar Contraseña
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>