<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers">
          <h1 style="text-align: center;">TeLlevoApp</h1>
        </div>
        <hr>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="Email"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-label position="floating">Contraseña Nueva </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-label position="floating">Repetir Contraseña Nueva</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <hr><hr><hr><hr>
        <div style="text-align: center;">
          <ion-button shape="round" [routerLink]="['/inicio']">Cambiar contraseña</ion-button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
