<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers" style="padding-top: 12%;">
          <img src="assets/TeLlevoApp.png" width="200px" alt="Automóvil"
            style="margin-left: 67px;">
        </div><br>
        <form>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="auto.nombreConductor" name="nombreConductor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">User</ion-label>
            <ion-input [(ngModel)]="auto.Gmail" name="user "></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="auto.password" name="password"
              type="password"></ion-input>
          </ion-item>
          <br>
          <div class="ion-text-end">
            <ion-ref class="enlace" routerLink="/recuperar">Recuperar Contraseña</ion-ref>
          </div>
          <br>
          <div class="ion-text-center">
            <ion-button type="button" shape="round" (click)="login()">Iniciar
              Sesión</ion-button>
          </div>
        </form>
        <ion-label>Recordar credenciales</ion-label>
        <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
        <div class="animacion-element" style="padding-top: 15%;">
          <img src="assets/Camaro.png" alt="Automóvil">
        </div>
      </div>
    </div>
  </div>
</ion-content>