<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers">
          <h1 style="text-align: center;">TeLlevoApp</h1>
        </div>
        <hr>
        <hr>
        <form #loginForm="ngForm">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="username" name="username" required></ion-input>
          </ion-item>
          <hr>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <hr>
          <ion-router-link routerLink="/recuperar">Recuperar Contraseña</ion-router-link>
          <hr><hr><hr><hr>
          <div style="text-align: center;">
            <ion-button shape="round" [routerLink]="['/inicio']" (click)="login()" [disabled]="!loginForm.valid">Ingresar</ion-button>
          </div>
          <hr><hr><hr><hr>
          <div class="animacion-element">
            <img src="assets/Camaro.png" alt="Automóvil">
          </div>
        </form>
      </div>
    </div>
  </div>

</ion-content>