<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers" style="padding-top: 12%;">
          <img src="assets/TeLlevoApp.png" width="200px" alt="Automóvil" style="margin-left: 67px;">
        </div><br>
        <form>
          <ion-item>
            <ion-label position="floating">gmail</ion-label>
            <ion-input  [(ngModel)]="user.Gmail" name="gmail " ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input  [(ngModel)]="user.password" name="password" type="password" ></ion-input>
          </ion-item>
          <br>
          <ion-button type="button" expand="full" color="warning" (click)="login()">Iniciar Sesión</ion-button>
        </form>
        <div class="animacion-element" style="padding-top: 15%;">
          <img src="assets/Camaro.png" alt="Automóvil">
        </div>
      </div>
    </div>
  </div>
</ion-content>