<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="ion-padding">
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>Bienvenido {{ user?.Gmail }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          ¡Gracias por usar nuestra aplicación!
        </ion-card-content>
      </ion-card>
    </div>

    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Manuel Montt</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-text-end">
            <button class="btn btn-secondary">Seleccionar</button>
          </div>
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Universidad de Chile</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-text-end">
            <button class="btn btn-secondary">Seleccionar</button>
          </div>
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Los Héroes</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-text-end">
            <button class="btn btn-secondary">Seleccionar</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </ion-content>

</ion-content>