<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
    <ion-buttons slot="end">
      <!--<ion-button shape="round" color="medium" (click)="cerrarSesion()">Cerrar Sesión</ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--
<ion-content [fullscreen]="true">
tenemos que cambiar ersto pero aqui estamos supoiniendo que el ususario no tiene
    movilizacion propia
  <ion-content>
    tenemos que cambiar ersto pero aqui estamos supoiniendo que el ususario no tiene
    movilizacion propia
    <div class="ion-padding">
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>Bienvenido {{ user?.usuario }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          ¡Gracias por usar nuestra aplicación!
        </ion-card-content>
      </ion-card>
    </div>

    aqui empieza lo que es el cuerpo mejor dicho los viajes
    <ion-list>
      Carta 1
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Manuel Montt</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-content class="ion-text-end">
            <ion-button expand="block" (click)="setOpen(true)">Selccionar</ion-button>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Datos del viaje</ion-title>
                    <ion-buttons slot="end">
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <h2>
                    Conductor: David Salas <br>
                    Patente: RH VY 90 <br>
                    Valor viaje: $1.000
                  </h2>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-card-content>
        </ion-card-content>
      </ion-card>
      <br>
      Carta 2
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Universidad de Chile</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-content class="ion-text-end">
            <ion-button expand="block" (click)="setOpen(true)">Selccionar</ion-button>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Datos del viaje</ion-title>
                    <ion-buttons slot="end">
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <h2>
                    Conductor: Leonardo Carrillo<br>
                    Patente: PJ SD 23 <br>
                    Valor viaje: $6.000
                  </h2>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-card-content>
        </ion-card-content>
      </ion-card>
      <br>

      Carta 3
      <ion-card>
        <ion-card-header>
          <ion-card-title>Metro Los Héroes</ion-card-title>
          <ion-card-subtitle>Desde:Antonio varas 666.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-content class="ion-text-end">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Datos del viaje</ion-title>
                    <ion-buttons slot="end">
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <h2>
                    Conductor: Eduardo Pozo <br>
                    Patente: RB TS 47 <br>
                    Valor viaje: $3700
                  </h2>
                </ion-content>
              </ng-template>
            
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </ion-content>

</ion-content>
-->