<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" [routerLink]="['/home']">Volver atras</ion-button>
    </ion-buttons>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/LogoDuoc.png" height="30" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="ion-padding">
        <div class="custom-containers">
          <br><br>
          <img src="assets/TeLlevoApp.png" width="200px" alt="Automóvil" style="margin-left: 67px;">
        </div><br>
        <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
          </ion-item>
          <br><br><br>
          <div style="text-align: center;">
            <ion-button shape="round" (click)="guardar()">Registrarse
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>